@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

html {
  height: 100%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  height: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.bg{
  background-color: #1B2A4A;
}

.bgg{
  color: #1B2A4A;
}

.nava {
  background: #1B2A4A;
  background: linear-gradient(270deg, rgba(27, 42, 74, 1) 32%, rgba(44, 62, 107, 0.84) 71%);
}

.swiper-button-next,
.swiper-button-prev {
  color: black;
  background: white;
  padding: 10px;
  border-radius: 100%;
}